@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto',sans-serif;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-image: url(bg.jpg);
    background-position: center;
    background-size: cover;
}
.formbox{
    position: relative;
    width: 400px;
    height: 450px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
}
h2{
    text-align: center;
    color: aliceblue;
}
.inputbox{
    position: relative;
    margin: 30px 0;
    width: 310px;
    border: 1px solid white;
    border-radius: 12px;

}
.inputbox label{
    position: absolute;
    top:60%;
    left: 5px;
    transform: translateY(-70%);
    color: white;
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
}
input:focus ~ label,
input:valid ~ label{
    top: -5px;
}
.inputbox input{
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0 35px 0 5px;
    color: white;
}
.inputbox ion-icon{
    position: absolute;
    right: 8px;
    color: white;
    font-size: 1.2em;
    top: 15px;
}
.remember{
    margin: -15px 0 15px;
    font-size: .9em;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.register label{
    margin: -15px 0 15px;
    font-size: .9em;
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.remember a{
    text-decoration: none;
    color: white;
}
.register a{
    text-decoration: none;
    color: white;
    margin-left: 10px;
}
.remember label input{
    margin-right: 3px;

}
button{
    height: 40px;
    width: 100%;
    border: none;
    background-color: white;
    outline: none;
    color: black;
    cursor: pointer;
    border-radius: 40px;
    font-size: 1em;
    font-weight: 600;
}